In [18]:
import glob
import pandas as pd
import json
import requests

# Importing and Loading the datasets

In [19]:
df = pd.concat([pd.read_csv(f) for f in glob.glob("./data/*.csv")], ignore_index=True)
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,NaN
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,NaN
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,NaN
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,NaN
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,NaN

In [23]:
df['address'] = df['block'] + " " + df['street_name']
df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,address
656847,2015-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,255000.0,70,174 ANG MO KIO AVE 4
656848,2015-01,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,275000.0,65,541 ANG MO KIO AVE 10
656849,2015-01,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,285000.0,64,163 ANG MO KIO AVE 4
656850,2015-01,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,290000.0,63,446 ANG MO KIO AVE 10
656851,2015-01,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,290000.0,64,557 ANG MO KIO AVE 10
...,...,...,...,...,...,...,...,...,...,...,...,...
941339,2024-12,YISHUN,4 ROOM,453,YISHUN ST 41,10 TO 12,93.0,Model A,2013,580000.0,87 years 10 months,453 YISHUN ST 41
941340,2024-12,YISHUN,4 ROOM,457,YISHUN ST 41,07 TO 09,93.0,Model A,2013,598000.0,87 years 10 months,457 YISHUN ST 41
941341,2024-12,YISHUN,4 ROOM,502C,YISHUN ST 51,07 TO 09,92.0,Model A,2018,613888.0,92 years 03 months,502C YISHUN ST 51
941342,2024-12,YISHUN,4 ROOM,756,YISHUN ST 72,10 TO 12,84.0,Simplified,1985,530000.0,60 years,756 YISHUN ST 72
941343,2024-12,YISHUN,4 ROOM,738,YISHUN ST 72,04 TO 06,91.0,New Generation,1985,575000.0,59 years 03 months,738 YISHUN ST 72

In [24]:
df_coordinates = pd.read_csv('df_coordinates.csv')
df_coordinates.head()

,latitude,longitude,blk_no,road_name,postal_code,address,cbd_dist,min_dist_mrt
0,1.362005,103.853880,406,ANG MO KIO AVENUE 10,560406,406 ANG MO KIO AVE 10,8740.633473,999.941595
1,1.370966,103.838202,108,ANG MO KIO AVENUE 4,560108,108 ANG MO KIO AVE 4,9835.486576,1268.958162
2,1.380709,103.835368,602,ANG MO KIO AVENUE 5,560602,602 ANG MO KIO AVE 5,10948.659905,1076.298560
3,1.366201,103.857201,465,ANG MO KIO AVENUE 10,560465,465 ANG MO KIO AVE 10,9223.353648,945.371837
4,1.381041,103.835132,601,ANG MO KIO AVENUE 5,560601,601 ANG MO KIO AVE 5,10989.223687,1099.505343

In [25]:
df_new = df_coordinates.merge(df, on="address", how='outer')
df_new

,latitude,longitude,blk_no,road_name,postal_code,address,cbd_dist,min_dist_mrt,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease
0,1.294801,103.854467,1,BEACH ROAD,189673,1 BEACH RD,1351.713661,143.728945,2015-01,KALLANG/WHAMPOA,3 ROOM,1,BEACH RD,04 TO 06,74.0,Improved,1979.0,388000.0,63
1,1.294801,103.854467,1,BEACH ROAD,189673,1 BEACH RD,1351.713661,143.728945,2016-03,KALLANG/WHAMPOA,3 ROOM,1,BEACH RD,07 TO 09,68.0,Improved,1979.0,350000.0,62
2,1.294801,103.854467,1,BEACH ROAD,189673,1 BEACH RD,1351.713661,143.728945,2017-04,KALLANG/WHAMPOA,3 ROOM,1,BEACH RD,07 TO 09,68.0,Improved,1979.0,340000.0,61 years 05 months
3,1.294801,103.854467,1,BEACH ROAD,189673,1 BEACH RD,1351.713661,143.728945,2017-05,KALLANG/WHAMPOA,3 ROOM,1,BEACH RD,07 TO 09,68.0,Improved,1979.0,322000.0,61 years 05 months
4,1.294801,103.854467,1,BEACH ROAD,189673,1 BEACH RD,1351.713661,143.728945,2017-06,KALLANG/WHAMPOA,3 ROOM,1,BEACH RD,07 TO 09,68.0,Improved,1979.0,370000.0,61 years 03 months
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232290,1.286814,103.828928,9B,BOON TIONG ROAD,163009,9B BOON TIONG RD,2525.251132,182.864524,2023-12,BUKIT MERAH,5 ROOM,9B,BOON TIONG RD,19 TO 21,112.0,Improved,2016.0,1400000.0,91 years 02 months
232291,1.286814,103.828928,9B,BOON TIONG ROAD,163009,9B BOON TIONG RD,2525.251132,182.864524,2024-03,BUKIT MERAH,4 ROOM,9B,BOON TIONG RD,25 TO 27,92.0,Model A,2016.0,1188000.0,90 years 11 months
232292,1.286814,103.828928,9B,BOON TIONG ROAD,163009,9B BOON TIONG RD,2525.251132,182.864524,2024-06,BUKIT MERAH,5 ROOM,9B,BOON TIONG RD,34 TO 36,112.0,Improved,2016.0,1588000.0,90 years 08 months
232293,1.286814,103.828928,9B,BOON TIONG ROAD,163009,9B BOON TIONG RD,2525.251132,182.864524,2024-07,BUKIT MERAH,4 ROOM,9B,BOON TIONG RD,10 TO 12,92.0,Model A,2016.0,1100000.0,90 years 07 months
232294,1.286814,103.828928,9B,BOON TIONG ROAD,163009,9B BOON TIONG RD,2525.251132,182.864524,2024-10,BUKIT MERAH,4 ROOM,9B,BOON TIONG RD,37 TO 39,92.0,Model A,2016.0,1320000.0,90 years 05 months

In [26]:
df_new.to_csv('combined.csv', index = False)

In [27]:
df.shape

(232294, 12)

# Handling Null Values

In [28]:
df.isnull().sum()

month                  0
town                   0
flat_type              0
block                  0
street_name            0
storey_range           0
floor_area_sqm         0
flat_model             0
lease_commence_date    0
resale_price           0
remaining_lease        0
address                0
dtype: int64

In [22]:
# droping remaining_lease missing values
df = df.dropna()
df.isnull().sum()

month                  0
town                   0
flat_type              0
block                  0
street_name            0
storey_range           0
floor_area_sqm         0
flat_model             0
lease_commence_date    0
resale_price           0
remaining_lease        0
dtype: int64

In [19]:
df_coordinates

,latitude,longitude,blk_no,road_name,postal_code,address,cbd_dist,min_dist_mrt
0,1.36200453938712,103.853879910407,406,ANG MO KIO AVENUE 10,560406,406 ANG MO KIO AVE 10,8740.633473,999.941595
1,1.37096635222625,103.838201940326,108,ANG MO KIO AVENUE 4,560108,108 ANG MO KIO AVE 4,9835.486576,1268.958162
2,1.38070883044887,103.835368226602,602,ANG MO KIO AVENUE 5,560602,602 ANG MO KIO AVE 5,10948.659905,1076.298560
3,1.3662010408294,103.857200967235,465,ANG MO KIO AVENUE 10,560465,465 ANG MO KIO AVE 10,9223.353648,945.371837
4,1.38104135523576,103.835131742647,601,ANG MO KIO AVENUE 5,560601,601 ANG MO KIO AVE 5,10989.223687,1099.505343
...,...,...,...,...,...,...,...,...
9526,1.35546083614203,103.937118935774,860B,TAMPINES AVENUE 5,522860,860B TAMPINES AVE 5,12466.578115,1097.338326
9527,1.43916567473693,103.779976701121,121,MARSILING RISE,730121,121 MARSILING RISE,19004.920891,950.372898
9528,1.42142183300841,103.83924942213,659,YISHUN AVENUE 4,760659,659 YISHUN AVE 4,15364.619802,828.374098
9529,1.37714832714712,103.774023829674,271,BANGKIT ROAD,670271,271 BANGKIT RD,13503.256987,1339.847514
9530,1.30764582367725,103.860269172676,802,FRENCH ROAD,200802,802 FRENCH RD,2902.265148,279.630252

In [20]:
df_coordinates.to_csv('df_coordinates.csv',index=False)

In [12]:
df_coordinates = pd.read_csv('df_coordinates.csv')

In [23]:
df_new['resale_price'] = df_new['resale_price'].astype('float')
df_new['floor_area_sqm'] = df_new['floor_area_sqm'].astype('float')
df_new['lease_commence_date'] = df_new['lease_commence_date'].astype('int64')
df_new['lease_remain_years'] = 99 - (2023 - df_new['lease_commence_date'])

df_new.dropna(inplace=True)

df_new

,latitude,longitude,blk_no,road_name,postal_code,address,cbd_dist,min_dist_mrt,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,lease_remain_years
0,1.362005,103.853880,406,ANG MO KIO AVENUE 10,560406,406 ANG MO KIO AVE 10,8740.633473,999.941595,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,232000.0,61 years 04 months,55
1,1.362005,103.853880,406,ANG MO KIO AVENUE 10,560406,406 ANG MO KIO AVE 10,8740.633473,999.941595,2017-05,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,235000.0,61 years 01 month,55
2,1.362005,103.853880,406,ANG MO KIO AVENUE 10,560406,406 ANG MO KIO AVE 10,8740.633473,999.941595,2018-03,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,01 TO 03,44.0,Improved,1979,202000.0,60 years 02 months,55
3,1.362005,103.853880,406,ANG MO KIO AVENUE 10,560406,406 ANG MO KIO AVE 10,8740.633473,999.941595,2018-03,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,01 TO 03,44.0,Improved,1979,210000.0,60 years 02 months,55
4,1.362005,103.853880,406,ANG MO KIO AVENUE 10,560406,406 ANG MO KIO AVE 10,8740.633473,999.941595,2018-05,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,07 TO 09,44.0,Improved,1979,220000.0,60 years 01 month,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202189,1.355461,103.937119,860B,TAMPINES AVENUE 5,522860,860B TAMPINES AVE 5,12466.578115,1097.338326,2016-09,TAMPINES,4 ROOM,860B,TAMPINES AVE 5,04 TO 06,104.0,Model A,1987,460000.0,70,63
202190,1.439166,103.779977,121,MARSILING RISE,730121,121 MARSILING RISE,19004.920891,950.372898,2016-10,WOODLANDS,EXECUTIVE,121,MARSILING RISE,04 TO 06,170.0,Apartment,1995,670000.0,77,71
202191,1.421422,103.839249,659,YISHUN AVENUE 4,760659,659 YISHUN AVE 4,15364.619802,828.374098,2016-10,YISHUN,4 ROOM,659,YISHUN AVE 4,04 TO 06,89.0,Simplified,1987,335000.0,69,63
202192,1.377148,103.774024,271,BANGKIT ROAD,670271,271 BANGKIT RD,13503.256987,1339.847514,2016-11,BUKIT PANJANG,5 ROOM,271,BANGKIT RD,04 TO 06,122.0,Improved,1988,425000.0,70,64
202193,1.307646,103.860269,802,FRENCH ROAD,200802,802 FRENCH RD,2902.265148,279.630252,2016-11,KALLANG/WHAMPOA,3 ROOM,802,FRENCH RD,04 TO 06,59.0,Improved,1979,328000.0,61,55

# Final Combined Data

In [24]:
df_new.to_csv('combined.csv', index = False)